.modal-body {
  background-color: #f4f2f2;
}
 
.modal-header {
 
  background-color: #f4f2f2;
}
  
.modal-footer {
  background-color: #dcdada;
}
  
/* toast */  

.toast-header {
  background-color: #dcdada;
}
  
.toast {
  background-color: #dcdada;
}